<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="common-css/bootstrap.css" rel="stylesheet">

	<link href="common-css/ionicons.css" rel="stylesheet">


	<link href="layout-1/css/styles.css" rel="stylesheet">

	<link href="layout-1/css/responsive.css" rel="stylesheet">

	<script src="https://smtpjs.com/v3/smtp.js"></script>

	<!-- FIREBASE -->
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-storage.js"></script>

</head>

<body>

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="./" class="logo"><img src="images/logo.png" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<!-- <li>
					<form>
						<input type="text" name="search" placeholder="Search..">
					</form>
				</li> -->
				<li><a href="./">Home</a></li>
				<li><a href="./upload-question">Ask a question</a></li>
				<li><a href="./blank-static">About Us</a></li>
				<li><a href="./sign_up" id="sign_up">Sign Up</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

	<div class="container">
		<div class="row">
			<div class="heading-title text-center" style="margin:auto">
				<h3 class="text-uppercase" style="margin-top: 10%;">Our Developers </h3>
				<p class="p-top-30 half-txt">Hello, we are the development team of the website. If you have any suggestions, please message us immediately so we can improve and develop more in the future.</p>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="./images/duc_bui.png"
							alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>Hi There !</h4>
							<p>I love to introduce myself as a Back-end Developers with a lot of experiences.</p>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Bui Anh Duc</h5>
					<span>back-end</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="./images/minh.png"
							alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>Hello Guys!</h4>
							<p>I love to introduce myself as a Full-stack developer.</p>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Mai Van Nhat Minh</h5>
					<span>Fullstack</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="./images/huy2.png"
							alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>I love to design</h4>
							<p>I am the designer of the web page.</p>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Tran Dang Huy</h5>
					<span>Front-end</span>
				</div>
			</div>

		</div>

	</div>

	<section class="blog-area section">
		<div class="container">

			<div class="row">
				<div class="col-lg-2 col-md-0"></div>
				<div class="col-lg-8 col-md-12">
					<div class="post-wrapper">

						<!-- <h3 class="title"><a href="#"><b>Some infomation you may need to contact us.</b></a></h3> -->
						<!-- <div class="row"> -->


						<!-- </div> -->
					</div>
				</div><!-- post-wrapper -->
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->

		</div><!-- container -->
	</section><!-- section -->


	<footer>

		<div class="container">
			<div class="row">
	
				<div class="col-lg-4 col-md-6">
					<div class="footer-section">
	
						<a class="logo" href="#"><img src="images/logo.png" alt="Logo Image"></a>
						<p class="copyright">Bona @ 2020. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com"
															target="_blank">GrandHackathon</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
	
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
	
				<div class="col-lg-4 col-md-6">
					<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">MATH</a></li>
							<li><a href="#">CHEMISTRY</a></li>
							<li><a href="#">PHYSICS</a></li>
						</ul>
						<ul>
							<li><a href="#">LITERATURE</a></li>
							<li><a href="#">LANGUAGE</a></li>
							<li><a href="#">ELSE</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
	
				<div class="col-lg-4 col-md-6">
					<div class="footer-section">
	
						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i
											class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>
	
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
	
			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->
	<script src="./js/send_email.js"></script>

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/scripts.js"></script>

	<script src="./js/firebase.js"></script>

	<script src="./js/sign_in.js"></script>

	<script src="./js/render_question.js"></script>

</body>

</html>