<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="common-css/bootstrap.css" rel="stylesheet">

	<link href="common-css/ionicons.css" rel="stylesheet">


	<link href="layout-1/css/styles.css" rel="stylesheet">

	<link href="layout-1/css/responsive.css" rel="stylesheet">

	 <!-- FIREBASE -->
	 <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
	 <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
	 <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-analytics.js"></script>
	 <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script>
	 <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-storage.js"></script>

</head>

<body>

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="./" class="logo"><img src="images/logo.png" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<!-- <li>
					<form>
						<input type="text" name="search" placeholder="Search..">
					</form>
				</li> -->
				<li><a href="./">Home</a></li>
				<li><a href="./upload-question">Ask a question</a></li>
				<li><a href="./blank-static">About Us</a></li>
				<li><a href="./sign_up" id="sign_up">Sign Up</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

	<div class="slider display-table center-text">
		<h1 class="title display-table-cell"><b style="color: #eeeeee;">About Us</b></h1>
		
	</div><!-- slider -->

	<section class="blog-area section">
		<div class="container">

			<div class="row">
				<div class="col-lg-2 col-md-0"></div>
				<div class="col-lg-8 col-md-12">
					<div class="post-wrapper">

						<!-- <h3 class="title"><a href="#"><b>Some infomation you may need to contact us.</b></a></h3> -->
						<!-- <div class="row"> -->
						<div class="column">
							<h3><b>Mai Van Nhat Minh (Main-Programmer)</b></h3>
							<p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
								fugiat nulla pariatur.
								Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
								doloremque
								laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								architecto beatae vitae dicta sunt explicabo.
								Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
								sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
						</div>

						<div class="column">
							<h3>Duc Bui (Main-Programmer)</h3>
							<p class="para">Labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
								fugiat nulla pariatur.
								Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum
								Sed ut perspiciatis unde omnis iste natus.</p>
						</div>

						<div class="column">
							<h3>Huy Tran (Front-end stuff)</h3>
							<p class="para">Occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
								doloremque
								laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								architecto beatae vitae dicta sunt explicabo.
								Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
								sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
						</div>

						<!-- </div> -->
					</div>
				</div><!-- post-wrapper -->
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->

		</div><!-- container -->
	</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="#"><img src="images/logo.png" alt="Logo Image"></a>
						<p class="copyright">Bona @ 2017. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">BEAUTY</a></li>
							<li><a href="#">HEALTH</a></li>
							<li><a href="#">MUSIC</a></li>
						</ul>
						<ul>
							<li><a href="#">SPORT</a></li>
							<li><a href="#">DESIGN</a></li>
							<li><a href="#">TRAVEL</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i
										class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/scripts.js"></script>

	<script src="./js/firebase.js"></script>

	<script src="./js/sign_in.js"></script>

	<script src="./js/render_question.js"></script>

</body>

</html>