<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="./ContactFormv2/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./ContactFormv2/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./ContactFormv2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./ContactFormv2/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./ContactFormv2/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./ContactFormv2/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./ContactFormv2/css/util.css">
	<link rel="stylesheet" type="text/css" href="./ContactFormv2/css/main.css">
	<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />

	<!-- Stylesheets -->

	<link href="./ContactFormv2/common-css/bootstrap.css" rel="stylesheet">

	<link href="./ContactFormv2/common-css/ionicons.css" rel="stylesheet">


	<link href="./ContactFormv2/css/styles.css" rel="stylesheet">

	<link href="./ContactFormv2/css/responsive.css" rel="stylesheet">

	<link href="common-css/bootstrap.css" rel="stylesheet">

	<link href="common-css/swiper.css" rel="stylesheet">

	<link href="common-css/ionicons.css" rel="stylesheet">


	<link href="front-page-category/css/styles.css" rel="stylesheet">

	<link href="front-page-category/css/responsive.css" rel="stylesheet">
	<link href="./css/file_input.css" rel="stylesheet">

	<!-- FIREBASE -->
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-storage.js"></script>
</head>

<body>
	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="./" class="logo"><img src="images/logo.png" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<!-- <li>
					<form>
						<input type="text" name="search" placeholder="Search..">
					</form>
				</li> -->
				<li><a href="./">Home</a></li>
				<li><a href="./upload-question">Ask a question</a></li>
				<li><a href="./blank-static">About Us</a></li>
				<li><a href="./sign_up" id="sign_up">Sign Up</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>



	<div class="bg-contact2"
		style="background-image: url('images/table-with-books-stationery-near-blackboard_23-2147852014.jpg');">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<form class="contact2-form validate-form" method="POST">
					<span class="contact2-form-title">
						Write your question here!
					</span>

					<div class="wrap-input2 validate-input" data-validate="Name is required">
						<input class="input2" type="text" name="name">
						<span class="focus-input2" data-placeholder="NAME"></span>
					</div>

					<div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input2" type="text" name="email">
						<span class="focus-input2" data-placeholder="EMAIL"></span>
					</div>

					<div class="wrap-input2 validate-input" data-validate="Title is required">
						<input class="input2" type="text" name="title">
						<span class="focus-input2" data-placeholder="TITLE"></span>
					</div>

					<div class="wrap-input2 validate-input" data-validate="Message is required">
						<textarea class="input2" name="message"></textarea>
						<span class="focus-input2" data-placeholder="MESSAGE"></span>
					</div>

					<ul style="text-align: center;display: flex; justify-content: space-around;font-family: Poppins-Medium;margin-bottom: 10px;">
						<li><input type="radio" name="subject" value="Math"> Math</input></li>
						<li><input type="radio" name="subject" value="Physics"> Physics</input></li>
						<li><input type="radio" name="subject" value="Literature"> Literature</input></li>
						<li><input type="radio" name="subject" value="Language"> Language</input></li>
						<li><input type="radio" name="subject" value="Else"> Else</input></li>
					</ul>

				<!-- Image Input -->
					<div class="file-container">
						<label class="file-label" name="images" for="input">Please upload a picture !</label>
					
						<div class="input">
							<input name="input" id="file" type="file">
						</div>
					</div>
				<!-- Image Input -->
					<!-- <div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
						<span class="caret"></span></button>-->
					
					<!-- </div> -->
					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" id="submit_button" type="submit">
								Send Your Question
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="#"><img src="images/logo.png" alt="Logo Image"></a>
						<p class="copyright">Bona @ 2020. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com"
								target="_blank">GrandHackathon</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">MATH</a></li>
							<li><a href="#">CHEMISTRY</a></li>
							<li><a href="#">PHYSICS</a></li>
						</ul>
						<ul>
							<li><a href="#">LITERATURE</a></li>
							<li><a href="#">LANGUAGE</a></li>
							<li><a href="#">ELSE</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i
										class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>




	<!--===============================================================================================-->
	<script src="./ContactFormv2/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="./ContactFormv2/vendor/bootstrap/js/popper.js"></script>
	<script src="./ContactFormv2/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="./ContactFormv2/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="./ContactFormv2/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
	<script src="./js/file_input.js"></script>
	<script src="./js/firebase.js"></script>
	<script src="./js/sign_in.js"></script>

	<script src="./js/upload_question.js"></script>

</body>

</html>