<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
</head>
<body>
    <h1><%= mess%>></h1>
    <script>
        window.onload = () => {
        	window.location.href = "./";
        }
    </script>
</body>
</html>
